<h1>User</h1>
    <p>
        <a href="/update-password"> Update Password</a>
    </p>
    <p>
        <a href="/create-arrangement">Create Arrangement</a>
    </p>
    <p>
        <a href="/update-arrangement">Update Arrangement</a>
    </p>